@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "ProximaNova-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/ProximaNova-Black.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNova-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/.173.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNova-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/.5474.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mark Simonson - Proxima Nova A.otf") format("opentype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/5f21dc8f21de6eb94a71b533.5f21dc90e5f49d7881c00460.INmQCmR.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
