:root { 
  --coconut: #fefeff;
  --cold-purple: #af9dd4;
  --cold-purple-2: #b09cd5;
  --concord: #7b7b7b;
  --eden: #08584d;
  --fuscous-gray: #515453;
  --fuscous-gray-2: #51545367;
  --gigas: #563695;
  --gigas-2: #553594;
  --purple-mountains-majesty: #9984c2;
  --purple-mountains-majesty-2: #9983c2;
  --royal-purple: #6648a3;
  --royal-purple-2: #6647a3;
  --white: #ffffff;
 
  --font-size-l: 46px;
  --font-size-m: 28px;
  --font-size-s: 18px;
  --font-size-xl: 50px;
  --font-size-xs: 14px;
  --font-size-xxl: 53px;
  --font-size-xxxl: 72px;
 
  --font-family-proximanova-black: "ProximaNova-Black", Helvetica;
  --font-family-proximanova-light: "ProximaNova-Light", Helvetica;
  --font-family-proximanova-regular: "ProximaNova-Regular", Helvetica;
  --font-family-proximanova-semibold: "ProximaNova-Semibold", Helvetica;
}
.proximanova-black-white-72px {
  color: var(--white);
  font-family: var(--font-family-proximanova-black);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 900;
}

.proximanova-black-white-53px {
  color: var(--white);
  font-family: var(--font-family-proximanova-black);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.proximanova-black-white-50px {
  color: var(--white);
  font-family: var(--font-family-proximanova-black);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 900;
}

.proximanova-black-white-28px {
  color: var(--white);
  font-family: var(--font-family-proximanova-black);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.proximanova-black-white-14px {
  color: var(--white);
  font-family: var(--font-family-proximanova-black);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 900;
}

.proximanova-black-white-46px {
  color: var(--white);
  font-family: var(--font-family-proximanova-black);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.proximanova-regular-normal-white-72px {
  color: var(--white);
  font-family: var(--font-family-proximanova-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-white-53px {
  color: var(--white);
  font-family: var(--font-family-proximanova-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-proximanova-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-white-46px {
  color: var(--white);
  font-family: var(--font-family-proximanova-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-proximanova-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-proximanova-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.proximanova-light-white-26px {
  color: var(--white);
  font-family: var(--font-family-proximanova-light);
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
}

.proximanova-light-white-19px {
  color: var(--white);
  font-family: var(--font-family-proximanova-light);
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
}

.proximanova-light-white-18px {
  color: var(--white);
  font-family: var(--font-family-proximanova-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.proximanova-light-white-17px {
  color: var(--white);
  font-family: var(--font-family-proximanova-light);
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}

.proximanova-light-white-10px {
  color: var(--white);
  font-family: var(--font-family-proximanova-light);
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
}
